* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
    font-size: small;
}

ul {
    list-style: none;
}

.btn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 7.5%;
}

.grey {
    background: #f2f2f2;
    border: none;
    color: grey;
    font-weight: lighter;
}

.grey:hover {
    border: 1px solid #c2c2c2;
    cursor: pointer;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.main-nav a {
    margin-right: 15px;
    opacity: 0.8;
}

.main-nav a:hover {
    opacity: 0.6;
    border-bottom: 1px solid #262626;
}