#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
                        "leftnav . . rightnav"
                        ". search search ."
                        "leftfooter . . rightfooter";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#navLeft {
    grid-area: leftnav;
    text-align: left;
}

#navRight {
    grid-area: rightnav;
    text-align: right;
}

#logosearch {
    grid-area: search;
}

#footer {
    grid-area: rightfooter;
    display: flex;
    align-items: flex-end;
}